In [2]:
import pandas as pd
import numpy as np
import csv
import os

In [3]:
file = os.path.join ('data', 'vgsales.csv')
df = pd.read_csv(file)

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.Year = df.Year.fillna(0.0).astype(int)

In [8]:
df = df.sort_values(by=['Year'], ascending=False)
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
16438,16441,Brothers Conflict: Precious Baby,PSV,2017,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
7060,7062,Dragon Quest Heroes II: Twin Kings and the Pro...,PSV,2016,Action,Square Enix,0.00,0.00,0.23,0.00,0.23
15016,15019,TV Anime Idolm@ster: Cinderella Girls G4U! Pac...,PS3,2016,Misc,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02
6203,6205,Dragon Quest Heroes II: Twin Kings and the Pro...,PS4,2016,Action,Square Enix,0.00,0.00,0.28,0.00,0.28
16028,16031,Wand of Fortune R,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01
6205,6207,UEFA Euro 2016,PS4,2016,Sports,Konami Digital Entertainment,0.00,0.21,0.03,0.03,0.28
14738,14741,Pro Evolution Soccer 2017,XOne,2016,Sports,Konami Digital Entertainment,0.00,0.02,0.00,0.00,0.03

In [10]:
df.sort_values(by=['Global_Sales'], ascending=False).head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [13]:
df.sort_values(by=['JP_Sales'], ascending=False).head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37